@import '~@angular/material/theming';


#idpop {
  float: right;
}
#add{
  float: left;
  width:5%;
  height: 20%;
  background-color: white;
}
#edit{
  float: none;
  width:5%;
  height: 20%;
  background-color: white;
}